<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <img src="../assets/navbar.png" alt="Analisi" />
    </div>
    <div class="navbar-button">
      <button mat-mini-fab routerLink="/analysis/home" aria-label="Example icon button with a home icon" class="pink-button">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="navbar-button">
      <button (click)="goBack()" class="pink-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <div class="navbar-actions">
    <div class="user-info">
      <span>{{ userName }}</span>
      <mat-icon>person</mat-icon>
    </div>
    <button (click)="onLogout()" class="pink-button">Logout</button>
  </div>
</nav>
