.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #c40e69ef; /* Colore rosa per la navbar */
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
}

.navbar-button {
  margin-left: 10px;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #fff; /* Bordo bianco */
  border-radius: 5px; /* Angoli arrotondati */
  color: #333; /* Colore del testo */
}

.navbar-search button,
.pink-button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #ff69b4; /* Colore rosa per i bottoni */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Angoli arrotondati */
}

.navbar-actions button {
  background-color: #ff69b4; /* Colore rosa per il bottone di logout */
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Angoli arrotondati */
}

.pink-button:hover {
  background-color: #ff85c1; /* Colore rosa più chiaro per il hover */
}

input::placeholder {
  color: #fff; /* Colore del placeholder */
  opacity: 0.7; /* Opacità del placeholder */
}
