.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #610f3a; /* Primary color */
  color: white;
}

.navbar-logo img {
  height: 40px;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.navbar-actions .logout-button {
  background-color: #f436a2b6; /* Warn color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-actions .logout-button:hover {
  background-color: #d32f8486; /* Darker warn color on hover */
}
