<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <img src="../assets/navbar.png" alt="Analisi" />
    </div>
    <div class="navbar-button">
      <button mat-mini-fab routerLink="/analysis/home" aria-label="Example icon button with a home icon" class="pink-button">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
  <div class="navbar-search">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
    <button (click)="search()" class="pink-button">Search</button>
  </div>
  <div class="navbar-actions">
    <button (click)="onLogout()" class="pink-button">Logout</button>
  </div>
</nav>
