.analisi-list-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #860a73;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #7a1370;
}

/* Definisci i colori personalizzati per i bottoni */
.custom-button-primary {
  background-color: #b23eb9; /* Primary color */
  color: white;
}

.custom-button-primary:hover {
  background-color: #b51295; /* Darker primary color on hover */
}

.custom-button-accent {
  background-color: #e91e63; /* Accent color */
  color: white;
}

.custom-button-accent:hover {
  background-color: #d81b60; /* Darker accent color on hover */
}

.custom-button-warn {
  background-color: #f4367f; /* Warn color */
  color: white;
}

.custom-button-warn:hover {
  background-color: #d72d9eb7; /* Darker warn color on hover */
}

/* Stili per centrare i bottoni nella colonna Azioni */
.actions-column {
  text-align: center; /* Centra il testo e i bottoni */
  vertical-align: middle; /* Centra verticalmente */
}

.button-container {
  display: inline-block; /* Necessario per il centramento automatico */
}

.actions-column button {
  margin: 0 5px; /* Spaziatura tra i bottoni */
}

.actions-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.actions-header .action-text {
  margin-right: 10px;
  font-size: 16px;
  color: #060506; /* Rosa */
}

.actions-header button {
  background-color: #e91e63; /* Rosa */
  color: #fff;
}