<app-navbar></app-navbar>
<!-- <div class="welcome-div">
<p class="welcome-message">Bello Rivederti, {{ userName }}! </p>
</div>
div per il welcome message dopo -->
 
<div class="container">

    <div class="analysis">
      <img src="assets/users-dashboard.jpg" alt="Admin Photo 1" class="img-fluid">
      <p class="phrase">Gestisci e Visualizza tutti i Pazienti </p>
      <button (click)="goToUserManagement()" class="button mt-3">Gestione Pazienti</button>
    </div>
    <div class="users">
      <img src="assets/analysis-dashboard.jpg" alt="Admin Photo 2" class="img-fluid">
      <p class="phrase">Visualizza tutte le analisi di tutti i pazienti</p>
      <button (click)="goToAnalysis()" class="button mt-3">Visualizza Analisi</button>
    </div>
  </div>
