<div class="container">
 
  <div class="row">
    <!-- Colonna del messaggio di benvenuto -->
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
    <p class="welcome-message">Bello Rivederti, {{ userName }}! </p>
      <p class="text-center">
Benvenuto/a nella tua area personale, il luogo dove puoi gestire con facilità tutte le tue analisi. Qui hai il pieno controllo delle tue informazioni: cliccando sul pulsante sottostante, potrai accedere a una panoramica completa delle tue analisi. Non solo potrai visualizzarle tutte, ma avrai anche la possibilità di eliminarle, esaminare ogni dettaglio specifico e ricercarle rapidamente grazie a strumenti intuitivi. Approfitta di questa area dedicata per monitorare e organizzare le tue analisi con efficienza e semplicità. Buona navigazione!</p>
      <div class="button mt-3" (click)="onClickButton1()">Visualizza le Tue Analisi</div>
    </div>

    

    <!-- Colonna con l'immagine -->
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="image-container">
        <img src="assets/analysis-home-list.jpg" alt="Immagine 2" class="img-fluid">
      </div>
    </div>
  </div>
</div>
