<div class="container">
<div class="welcome-message">
    Bello Rivederti , {{ userName }}!
  </div>
  <div class="row">
    <!-- Prima colonna -->
    <div class="col">
      <div class="image-container">
        <img src="assets/analysis-home-list.jpg" alt="Immagine 1">
      </div>
      <p>Testo sotto la prima immagine</p>
      <div class="button" (click)="onClickButton1()">CLICK ME 1</div>
    </div>

    <!-- Seconda colonna -->
    <div class="col">
      <div class="image-container">
        <img src="assets/analysis-home.jpg" alt="Immagine 2">
      </div>
      <p>Testo sotto la seconda immagine</p>
      <div class="button" (click)="onClickButton1()">CLICK ME 2</div>
    </div>
  </div>
</div>
